 <nav class="navbar navbarbg navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand linkcss" href="#" >Company Name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-left">
            <li><a routerLink="/dashboard" class="linkcss">Dashboard</a></li>
            <li><a routerLink="/dashboard2" class="linkcss">Dashboard2</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#" class="linkcss">Logout</a></li>
           
          </ul>
          
        </div>

      </div>
    </nav>

    